
.classpath
.settings
.project
.settings/
.svn/
build/
target/
pom.xml.releaseBackup

*.log

xls2rdf-lib/src/test/resources/suite/*/output.ttl
xls2rdf-lib/src/test/resources/suite/*/output.trig

config_sparnatural_HN.ttl

config_sparnatural_HN.xlsx
.idea/


.smarttomcat/xls2rdf-web/conf/tomcat-users.xsd
