:root{
  font-family: "Roboto", sans-serif;
}

html{
  height: 100vh;
  width: 100vw;
}

body{
  height: 100%;
}


.nav-link{
  color: white;
}

.menu-item.nav-link.active{
  color: white;
}

p{
  font-size: 1.2em;
}

label{
  font-size: 1.1em;
}

.navbar-nav .nav-link{
  transition: all 0.5s ease;
}

#menu{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.menu-item:hover{
  background-color:  #df6919;
  border-radius: 5px;
}

.navbar-brand{
  color: #df6919;
}

select, #file, #url, #submit, #input_Language{
  border-radius: 4px;
  
}

#submit:hover{
  background-color: #df6919;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#submit-wrapper{
  background-color: #df6919;
}


#footer-logo{
  filter: brightness(400%);
}

#fieldset-source{
  padding: 10px;
  border-left: solid #00c851;
}

#fieldset-options{
  padding: 10px;
  border-left: solid #4285f4 ;
}

.anchorjs-link{
  color: #df6919;
}

.menu-item.nav-link.highlight{
   background-color: #0f2537;
   color: #df6919;
   border-radius: 5px;
}

.nav-link.dropdown-toggle:hover,
.navbar-brand.fw-normal:hover{
   color: #df6919;
}



